<!DOCTYPE html>
<htm lang="pt">
    <head>
        <meta charset="utf-8" />
        <title>SOT</title>
    </head>
    <body style="text-align: center;">
        <h1 style="border-bottom: solid 1px;">SISTEMA ORGANIZADOR DE TAREFAS</h1>
        <div>
            <div style="margin-bottom: 20px;"  class="card">
                <a href="/pesquisar"><button>PESQUISAR TAREFA POR USUÁRIO</button></a>
            </div>
            <div style="margin-bottom: 20px;" class="card">
                <a href="/tarefas"><button>LISTAR TODAS AS TAREFAS</button></a>
            </div>
        </div>
    </body>
</htm>